<!DOCTYPE html>
<html lang="en">
<head>
<title>All done!</title>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>

<!-- Bootstrap -->
<!-- ensure propper viewing on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Bootstrap element to center the contents of the page -->
<div class="container">
	<br><br\>
	<br><br\>
	<br><br\>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="jumbotron">
				<h1>All done!</h1>
				<p class="lead">
					Thanks for your help.
				</p>
			</div>
		</div>
		<div class="col-md-3">
		</div>
</div>
<footer>
<br/> 
<br/> 
</footer>
</div> <!-- containter -->
</body>
</html>
