<!DOCTYPE html>
<html lang="en">
<head>
<title>Picasso Annotation Intro</title>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>

<!-- Bootstrap -->
<!-- ensure propper viewing on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Bootstrap element to center the contents of the page -->
<div class="container">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="page-header">
				<h1>Picasso Painting Annotation - Instructions</h1>
				<p class="lead">
					Welcome to our study! Thank you for participating. Below we provide useful instructions for annotating paintings. Please read them carefully and follow them as closely as you can during the study.
				</p>
			</div>
			<div>
				<dl class="dl-horizontal">
					<dt>High level</dt>
				  	<dd>For each painting you will be asked to do two things:
				  		<ol>
							<li>Draw a bounding box around each person that appears in the painting.</li>
							<li>Tell us how hard or easy it was to identify the figures in the paintings as human (aka are they photorealistic?).</li>
						</ol>
					</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>What to label?</dt>
					<dd>All <strong>people</strong> in the paintings, unless:
						<ul>
							<li>You are unsure it is supposed to be a person (though some of them are <strong>wacky</strong>).</li>
							<li>The person is very small (at your discretion).</li>
							<li>Less than 10-20% of the person is visible. 
						</ul>
					</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Bounding box</dt>
					<dd>Mark the bounding box of the <strong>visible</strong> area of the person (<strong>not</strong> the estimated total extent of the person).
					The bounding box should contain all visible pixels, except where the bounding box would have to be made excessively large to include a few additional pixels (less than 5% of the person).</dd>
				</dl>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
<footer>
<br/> 
<br/> 
</footer>
</div> <!-- containter -->
</body>
</html>
