$def with (current_image)
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bounding box annotator</title>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>

<!-- Bootstrap -->
<!-- ensure propper viewing on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!-- bbox annotator library -->
<script src="static/js/bbox_annotator.js"></script>

<!-- local scripts -->
<script src="static/js/picasso_annotator.js"></script>
</head>
<body>
<!-- Bootstrap element to center the contents of the page -->
<div class="container">
<div class="page-header">
	<h1>Draw a box around each person in the image.</h1>
</div>
<div class="row">
	<div class="col-md-8">
		<div id="bbox_annotator"></div>
	</div>
	<div class="col-md-4">
		<p>
			Progress: 
		</p>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				<span class="sr-only">60% Complete</span>
			</div>
		</div>
		<p>
			Reset all selections: 
		</p>
  		<div>
    		<input id="reset_button" type="reset" class="btn btn-default"/>
  		</div>
	<!-- use this text area to show the annotation data when debugging -->
	</div>
</div>

<br/>
<form id="myform" method="post" action="/">
<!-- here comes the question about human-like -->
<div>
<p class="lead">
	How hard is it to identify the figures in this image as human?
</p>
<div class="btn-group" data-toggle="buttons" id="buckets">
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Very easy" value="1"/> Very easy
  </label>
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Somewhat easy" value="2"/> Somewhat easy
  </label>
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Neither easy nor hard" value="3"/> Neither easy nor hard
  </label>
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Somewhat hard" value="4"/> Somewhat hard
  </label>
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Very hard" value="5"/> Very hard
  </label>
</div>
</div>
<!-- and a Next button -->
<div>
    	<input id="annotation_data" type="hidden" name="entries"/>
	<input type="hidden" id="time" value="" name="time"/>
	<input type="hidden" id="imgid" value="$current_image" name="imgid"/>
	<input class="btn btn-default pull-right" id="submit" type="submit" value="Next painting">
</div>
</form>
<footer>
<br/> 
<br/> 
</footer>
</div> <!-- containter -->
</body>
</html>
