$def with (current_image, progress)
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bounding box annotator</title>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>

<!-- Bootstrap -->
<!-- ensure propper viewing on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!-- bbox annotator library -->
<script src="static/js/bbox_annotator.js"></script>

<!-- local scripts -->
<script src="static/js/picasso_annotator.js"></script>
</head>
<body>
<!-- Bootstrap element to center the contents of the page -->
<div class="container">
<div class="page-header">
	<h1>Draw a box around each person in the image.</h1>
</div>

<div class="row">
	<div class="col-md-10">
		<div id="bbox_annotator"></div>
	</div>
	<div class="col-md-2">
		<p>
			Progress: 
		</p>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="$progress" aria-valuemin="0" aria-valuemax="100" style="width: $progress%;">
				<span class="sr-only">$progress% Complete</span>
			</div>
		</div>
		<p>
			Reset all selections: 
		</p>
  	<div>
    	<input id="reset_button" type="reset" class="btn btn-default"/>
  	</div>
		<br/>
		<div>
		  <button class="btn btn-default" data-toggle="modal" data-target="#instructions">
		    View Instructions
		  </button>
		</div>
	</div>
</div>

<br/>

<div class="row">
<form id="myform" method="post" action="/">
<!-- here comes the question about human-like -->
<div>
<p class="lead">
	How hard is it to identify the figures in this image as human?
</p>
<div class="btn-group" data-toggle="buttons" id="buckets">
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Very easy" value="1"/> Very easy
  </label>
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Somewhat easy" value="2"/> Somewhat easy
  </label>
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Neither easy nor hard" value="3"/> Neither easy nor hard
  </label>
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Somewhat hard" value="4"/> Somewhat hard
  </label>
  <label class="btn btn-primary">
	<input type="radio" name="bucket" id="Very hard" value="5"/> Very hard
  </label>
</div>
</div>
<!-- and a Next button -->
<div>
    	<input id="annotation_data" type="hidden" name="entries"/>
	<input type="hidden" id="time" value="" name="time"/>
	<input type="hidden" id="imgid" value="$current_image" name="imgid"/>
	<input class="btn btn-default pull-right" id="submit" type="submit" value="Next painting" />
</div>
</div>
<!-- div for validation errors. -->
<div class="row">
<div class="alert alert-danger pull-right hidden" id="validation_div">
  <strong>Error! </strong><span id="validation_error"></span>
</div>
</div>

</form>
<footer>
<br/> 
<br/> 
</footer>
</div> <!-- containter -->

<!-- modal for instructions -->
<div id="instructions" class="modal fade" aria-hidden="true">
<div class="modal-dialog" style="width: 800px;">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
<iframe src="/intro?nobutton=true"/ width="99.6%" height="800" frameborder="0">
</div>
</div>
</div>
</div>
</body>
</html>
